{{ define "main" }}
<div class="post h-entry">

  <header class="post-header">
	  
	{{ if isset .Params "categories" }}    
	  <h3>{{ range .Params.categories }}{{ . }}{{ end }}</h3>
	{{ else }}
	{{ end }}
	  
	{{ if .Title }}
	  	<h1 class="p-name">{{ .Title }}</h1>
  	{{ end }}
  </header>

  <article class="post-content e-content">
	{{ .Content }}
  </article>
  
  <p class="u-url date">{{ .Date.Format "Monday, January 2, 2006" }}</p>

</div>

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}
