{{ define "main" }}

<div class="home h-feed">

  <ul class="post-list">
	{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages  }}
    <li class="h-entry {{ range .Params.categories }}{{ . }}{{ end }}">
        
    {{ if isset .Params "categories" }}    
      <h3>{{ range .Params.categories }}{{ . }} {{ end }}</h3>
    {{ else }}
    {{ end }}
    
		{{ if .Title }}
			<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ end }}

    <div class="e-content">
      {{ .Content }}
    </div>
        
    <a href="{{ .Permalink }}" class="u-url date">{{ .Date.Format "Monday January 2, 2006" }}</a>
    </li>
    {{ end }}
  </ul>

</div>

{{ if .IsHome }}
  {{ if .Site.Params.paginate_home }}
    {{ partial "pagination" . }}
  {{ end }}
{{ else if .Site.Params.paginate_categories }}
  {{ partial "pagination" . }}
{{ end }}

{{ end }}